<div class="row">
    <div class="col-6 mx-auto m-t-lg">
        <form class="material-form">
            <div class="container">
                <div class="material-input">
                    <input class="input-item" type="text" required id="input-field1">
                    <label>{{person.name}}</label>
                    <span class="bar"></span>
                </div>

                <div class="material-input">
                    <input class="input-item" type="text" required id="input-field">
                    <label>{{person.email}}</label>
                    <span class="bar"></span>
                </div>

                <div class="material-input">
                    <input class="input-item" type="text" required id="input-field">
                    <label>{{person.doc_id}}</label>
                    <span class="bar"></span>
                </div>
                <div class="material-input">
                    <input class="input-item" type="text" required id="input-field">
                    <label>{{person.birth_date}}</label>
                    <span class="bar"></span>
                </div>
            </div>
            <div style="text-align: center">
                <button type="button" class="btn btn-lg btn-default">Edit profile</button>
                <button type="button" class="btn btn-lg btn-danger">Delete</button>
            </div>
        </form>
    </div>
</div>
